html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  width: 100%;
}
.fullheight {
  min-height: 100%;
  min-width: 700px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.photo {
  background-image: url('https://cloud.githubusercontent.com/assets/952992/8537702/23785e1c-2439-11e5-8582-8ac5eab363ec.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin: 0;
  -webkit-filter: blur(2px) grayscale(0.4);
  filter: blur(2px) grayscale(0.4);
}
.txt {
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.92);
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-shadow: 1px 1px #000;
}
.txt > * {
  margin-left: 20px;
  margin-right: 20px;
}
.txt .contactme {
  padding-top: 15px;
}
.txt .saludo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
}
.txt .presentacion {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}
.txt .mailme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.82);
}
.txt .social {
  text-align: right;
}
.nostyle {
  text-decoration: none;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.82);
}
.pt {
  margin-top: 15px;
}
.pull-right {
  float: right;
}
.text-right {
  text-align: right;
}
.red {
  color: red;
}

@media screen and (max-width: 700px) {
  .txt .social {
    text-align: left;
  }
}
