.talksArea {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4em;
  padding-top: 7em;
}

.container {
  padding-top: 2rem;
  width: 65vw;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
}

/*.paragraph {
  padding-top: 1.6em;
}*/
.title {
  display: flex;
  width: 75vw;
  align-content: flex-start;
}

@media (max-width: 600px) {
  .container {
    width: 80vw;
  }
  .title {
    width: 90vw;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 55vw;
  }
  .title {
    width: 60vw;
  }
}
