.talksArea {
  padding-top: 2em;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4em;
  padding-top: 6em;
}

.container {
  padding: 3rem;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

/*.paragraph {
  padding-top: 1.6em;
}*/
.title {
  display: flex;
}
