.talksArea {
  padding-top: 2em;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4em;
  padding-top: 6em;
}

.container {
  padding-top: 2rem;
  max-width: 1024px;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/*.paragraph {
  padding-top: 1.6em;
}*/
.title {
  display: flex;
}
