.project {
  position: relative;
  width: 16em;
  height: 10em;
  overflow: hidden;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: lightgray;
  position: relative;
}

.cover {
  position: absolute;
  bottom: 0;
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.coverText {
  color: lightgray;
}

@media (max-width: 64em) {
  .project {
    width: 13em;
    height: 7.64em;
  }
}

@media (max-width: 45em) {
  .project {
    width: 10em;
    height: 5.88em;
  }
}
