{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "Polymer": true,
    "document": true,
    "window": true
  },
  "plugins": [
    "inferno"
  ],
  "settings": {
    "inferno": {
      "pragma": "Inferno",  // Pragma to use, default to "Inferno"
      "version": "1.0" // Inferno version, default to the latest Inferno stable release
    }
  },
  "rules": {
    "linebreak-style": 2,
    "inferno/jsx-uses-inferno": 2,
    "inferno/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "import/no-named-as-default": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }

}
