html {
   position: relative;
   min-height: 100%;
}

body {
   margin: 0;
   min-height: 100%;
   width: 100%;
}

.fullheight {
   min-height: 100%;
   min-width: 1024px;
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
}

.photo {
   background-image: url("/imgs/fforres-noders.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right;
   margin: 0;
}

.txt {
   font-family: 'Merriweather Sans', sans-serif;
   color: rgb(255, 255, 255);
   color: rgba(255, 255, 255, 0.82);
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 20px;
   padding-right: 20px;
   position: absolute;
   bottom: 0;
   width: 100%;
}

.txt .saludo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 50px;
}

.txt .presentacion {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.txt .social a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   color: rgba(255, 255, 255, 0.82);
}
