/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("./Roboto"), local("./Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v18/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2)
      format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1-1eff, U+20a0-20ab, U+20ad-20cf,
    U+2c60-2c7f, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("./Roboto"), local("./Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2)
      format("woff2");
  unicode-range: U+0000-00ff, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2212, U+2215;
}

/* latin-ext */
/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("./Roboto Bold"), local("./Roboto-Bold"),
    url(https://fonts.gstatic.com/s/roboto/v18/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2)
      format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1-1eff, U+20a0-20ab, U+20ad-20cf,
    U+2c60-2c7f, U+A720-A7FF;
} */
/* latin */
/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("./Roboto Bold"), local("./Roboto-Bold"),
    url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2)
      format("woff2");
  unicode-range: U+0000-00ff, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2212, U+2215;
} */

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("./Roboto Light"), local("./Roboto-Light"),
    url(https://fonts.gstatic.com/s/roboto/v18/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2)
      format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1-1eff, U+20a0-20ab, U+20ad-20cf,
    U+2c60-2c7f, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("./Roboto Light"), local("./Roboto-Light"),
    url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2)
      format("woff2");
  unicode-range: U+0000-00ff, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2212, U+2215;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}
