.container {
  position: relative;
  min-height: 346px;
  width: 100%;
  height: 98vh;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}

.photoBackground {
  position: absolute;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  background-image: url('./fforres.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(1px) grayscale(0.25);
}

.title {
  padding: 5em;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.92);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  z-index: 1;
}

.salutation {
  text-shadow: 1px 1px #000;
  font-weight: bold;
  font-size: calc(10vw);
  text-transform: uppercase;
  position: relative;
}

@media screen and (min-width: 75em) {
  .salutation {
    font-size: 84px;
  }
}

@media (max-width: 45em) {
  .title {
    padding: 1em;
    align-items: center;
  }
}
