h1, h2, h3, h4, h5, p, li, ol {
  line-height: 1.5em;
  // hacks for font smoothing
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}
* {
  font-family: 'Roboto', serif;
}

span {
  padding: 0.2em;
}


// .section {
//   padding-top: 3em;
//   padding-bottom: 3em;
//   .text {
//     color: rgb(45, 45, 45);
//     color: rgba(45, 45, 45, 1);
//     font-size: 1.3em;
//     font-family: 'Roboto Slab', serif;
//     p {
//       line-height: 1.7em;
//     }
//     .link {
//       color: rgb(11, 39, 186);
//       color: rgba(11, 39, 186, 1);
//       text-decoration: none;
//       font-weight: 400;
//       font-style: italic;
//     }
//   }
// }
// .center {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }
// .center.horizontal{
//   flex-direction: row;
//   justify-content: space-around;
// }
// .red {
//   color: red;
// }
// @media screen and (max-width: 700px) {
//   .social {
//     text-align: right;
//   }
// }
