.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  &:hover:after {
    width: 100%;
    background: white;
  }
}


.sliding-middle-out-dark {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  &:hover:after {
    width: 100%;
    background: rgb(163, 171, 208);
    background: rgba(163, 171, 208, 1);
  }
}
