.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  color: rgb(11, 39, 186);
  color: rgba(11, 39, 186, 1);
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.sliding-middle-out:hover:after {
  width: 100%;
  background: white;
}


.sliding-middle-out-dark {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  color: rgb(11, 39, 186);
  color: rgba(11, 39, 186, 1);
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
}
.sliding-middle-out-dark:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.sliding-middle-out-dark:hover:after {
  width: 100%;
  background: #a3abd0;
  background: #a3abd0;
}
