.topBarWrapper {
  position: absolute;
  width: 100%;
  min-width: 100%;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 3;
}
.topBarWrapper nav {
  height: 2em;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.3em;
  justify-content: space-around;
}

.topBarLink {
  color: rgba(200, 200, 200, 1);
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.5s ease;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.topBarLink:hover,
.topBarLink:active {
  background: rgba(0, 0, 0, 0.9);
}

.topBarLink.active {
  background: rgba(0, 0, 0, 0.4);
}
