.talk {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
}
.link {
  font-size: 1.2rem;
  text-decoration: none;
}
.descripcion {
  font-size: 0.9rem;
}

.fecha {
  font-size: 0.8rem;
}
