.resumeArea {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  max-width: 75vw;
  color: rgb(45, 45, 45);
  color: rgba(45, 45, 45, 1);
  font-size: 1.3em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  padding-bottom: 1em;
}
.paragraph {
  padding-top: 1em;
  max-width: 85%;
}

@media (max-width: 600px) {
  .container {
    max-width: 85vw;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 55vw;
  }
}

.link {
  color: rgba(45, 45, 45, 1);
  transition: all 400ms ease;
}
.link:hover,
.link:focus,
.link:active,
.link:visited {
  text-decoration: none;
  color: rgba(45, 45, 45, 0.7);
}
