.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  font-size: 1.3em;
}

.iconscontainer {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  padding-top: 3em;
}

.link {
  font-size: 1.2em;
  color: rgba(45, 45, 45, 1);
  transition: all 400ms ease;
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
  color: rgba(45, 45, 45, 0.7);
}

@media (max-width: 600px) {
  .iconscontainer {
    display: flex;
    justify-content: space-around;
    width: 70vw;
  }
}

@media (min-width: 1070px) {
  .iconscontainer {
    display: flex;
    justify-content: space-around;
    width: 650px;
  }
}
