.textArea {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.paragraphsContainer {
  max-width: 75vw;
  color: rgb(45, 45, 45);
  color: rgba(45, 45, 45, 1);
  font-size: 1.3em;
}

.paragraph {
  margin-bottom: 1em;
}

.paragraph,
.paragraph * {
  line-height: 1.9em;
  font-size: 0.9em;
}

.link {
  text-decoration: none;
  word-break: break-word;
}
@media (min-width: 40em) {
  .paragraphsContainer {
    width: 60vw;
    max-width: 40em;
  }
}
